<!-- accounts/templates/accounts/password_reset_email.html -->

<p>Hello,</p>

<p>You requested a password reset for your Planforge account.</p>

<p>Click the link below to set a new password:</p>

<p>
  <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
    Reset my password
  </a>
</p>

<p>
  Or copy this URL into your browser:<br>
  {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
</p>

<p>If you did not request this, you can safely ignore this email.</p>
```

The plain URL line at the bottom means even if the HTML link gets mangled in the terminal, you can always copy the raw URL directly.

